
@{
    ViewBag.Title = "Bienvenido";
}

<h2>Bienvenido</h2>
<h2>Bienvenido al sitio de la aplicacion</h2>

@Html.ActionLink("Calcular Comision", "CalcularComision", "CalculadoraComisiones") <br />
@Html.ActionLink("Resultados", "VerOperaciones", "CalculadoraComisiones") <br />

