
@{
    ViewBag.Title = "CalcularComision";
}

<h2>CalcularComision</h2>

<form action="/CalculadoraComisiones/CalcularComision" method="post">
    Capital($): <br />
    <input type="number" name="capital" /> <br /><br />
    Plazo(Meses): <br />
    <input type="number" name="meses" /> <br /><br />
    <input type="submit" value="Operar"/>
</form>

